<table class="table">
  <thead>
  <tr>
    <th>City</th>
    <th>Safety</th>
    <th>School</th>
    <th>Convenience</th>
    <th>Appreciation</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <% @city_totals.each do |city_total| %>
    <tr>
      <td><%= city_total[:name] %></td>
      <td><%= city_total[:data]["Safety"] %></td>
      <td><%= city_total[:data]["School"] %></td>
      <td><%= city_total[:data]["Convenience"] %></td>
      <td><%= city_total[:data]["Appreciation"] %></td>
      <td><%= city_total[:data]["Price"] %></td>
    </tr>
  <% end %>
  </tbody>
</table>