<div class="form-container">
  <div class="form">
    <%= form_with url: search_path, method: :get, local: false, class: "form" do |form| %>
      <h1><span class="emoji">👋</span>Hi, <%= current_user.username.capitalize %>! <br>What matters most to you?</h1>

      <% 3.times do |index| %>
        <div class="row">
          <%= form.label :"priority-#{index}", get_label(index) %>
          <%= form.select :"priority-#{index}", options_for_select([
                                                                     ["Select a factor", ""],
                                                                     ["Sale Price (Low to high)", "Sales_low"],
                                                                     ["Sale Price (high to low)", "Sales_high"],
                                                                     ["Rent Price (Low to high)", "rent_low"],
                                                                     ["Rent Price (high to low)", "rent_high"],
                                                                     ["School Rating", "School"],
                                                                     ["Safety", "Safety"],
                                                                     ["Appreciation Value", "Appreciation"],
                                                                   ]), {}, { class: "select" } %>
        </div>
      <% end %>

      <div class="buttons">
        <%= form.submit 'Search', class: 'btn primary' %>
        <%= link_to 'Back', '#', class: 'btn back', onclick: 'window.history.back(); return false;' %>
      </div>
    <% end %>
  </div>
</div>