<div class="form-container">
  <div class="form">
    <%= form_with url: search_path, method: :get, local: false, class: "form" do |form| %>
      <h1><span class="emoji">ðŸ‘‹</span>Hi, <%= current_user.username.capitalize %>! <br>What matters most to you?</h1>

      <% 3.times do |index| %>
        <div class="row">
          <%= form.label :"priority-#{index}", get_label(index) %>
          <%= form.select :"priority-#{index}", options_for_select([
                                                                     ["Select a factor", ""],
                                                                     ["Sale Price (Low to high) ðŸ“ˆ", "Sales_low"],
                                                                     ["Sale Price (high to low) ðŸ“‰", "Sales_high"],
                                                                     ["Rent Price (Low to high) ðŸ“ˆ", "rent_low"],
                                                                     ["Rent Price (high to low) ðŸ“‰", "rent_high"],
                                                                     ["School Rating ðŸ«", "School"],
                                                                     ["Safety ðŸ‘®", "Safety"],
                                                                     ["Appreciation Value ðŸ“Š", "Appreciation"],
                                                                   ]), {}, { class: "select" } %>
        </div>
      <% end %>

      <div class="buttons">
        <%= form.submit 'Search', class: 'btn primary' %>
        <%= link_to 'Back', filter_path, class: 'btn back' %>
      </div>
    <% end %>
  </div>
</div>