<div class="app">
  <div class="sidebar">
    <a href="/"><img src="<%= asset_path('logo.png') %>" alt="CityFinder logo" class="logo"></a>
    <%= render 'shared/nav' %>
    <div class="outlet">
      <%= render 'convenience_filter_form' %>
    </div>
    <%= render 'shared/footer' %>
  </div>
  <%= render 'shared/mapbox' %>
  <%= render 'shared/user_nav' %>
</div>