<%= render 'shared/static_nav_mobile' %>
<div class="app">
  <div class="sidebar">
    <a href="/"><img src="<%= asset_path('logo.png') %>" alt="CityFinder logo" class="logo"></a>
    <%= render 'shared/nav' %>
    <div class="outlet">
      <h1 class="sub-title">Find Your Top 5 Cities in Illinois</h1>
      <%= render 'convenience_filter_form' %>
    </div>
    <%= render 'shared/footer' %>
  </div>
  <%= render 'shared/mapbox' %>
  <div class="side_mobile">
    <%= render 'dashboard/convenience_filter_form' %>
  </div>
  <%= render 'shared/nav_mobile' %>
  <%= render 'shared/user_nav' %>
</div>