<h1>Dashboard</h1>
<div class="grid">
  <div class="form">
    <%= search_form_for @q, url: search_path, method: :get do |form| %>
      <div class="row">
        <%= form.label :search_by_city_name %>
        <%= form.text_field :city_name_cont %>
        <%= form.submit 'Search City' %>
      </div>
    <% end %>
  </div>
  <div class="form">
    <div class="priority_search">
      <%= form_with url: search_path, method: :get do %>
        <div class="row">
          <label for="priority_1">1st Priority
            <%= select_tag "priority-0", options_for_select([
                                                              ['Crime Index', 'Safety'],
                                                              ['School Score Compared to US', 'School'],
                                                              ['Last 12 Months Appreciation', 'Appreciation']
                                                            ]) %>
          </label>
        </div>
        <div class="row">
          <label for="priority_2">2nd Priority
            <%= select_tag "priority-1", options_for_select([
                                                              ['Crime Index', 'Safety'],
                                                              ['School Score Compared to US', 'School'],
                                                              ['Last 12 Months Appreciation', 'Appreciation']
                                                            ]) %>
          </label>
        </div>
        <div class="row">
          <label for="priority_3">3rd Priority
            <%= select_tag "priority-2", options_for_select([
                                                              ['Crime Index', 'Safety'],
                                                              ['School Score Compared to US', 'School'],
                                                              ['Last 12 Months Appreciation', 'Appreciation']
                                                            ]) %>
          </label>
        </div>
        <%= submit_tag 'Sort' %>
      <% end %>
    </div>
  </div>
</div>
<div>

  <table>
    <thead>
    <tr>
      <th><%= sort_link(@q, :city_name, "City") %></th>
      <th><%= sort_link(@q, 'crime_rates.crime_index', "Crime Index") %></th>
      <th><%= sort_link(@q, 'school_grades.score_compared_to_us', "School Score (US)") %></th>
      <th><%= sort_link(@q, 'appreciation_values.last_12months', "Last 12 Months Appreciation") %></th>
      <th><%= sort_link(@q, 'prices.average_price', "Average Price") %></th>
      <th><%= sort_link(@q, 'metras.count', "Metra Stations") %></th>
      <th><%= sort_link(@q, 'grocery_cities.count', "Grocery Stores") %></th>
      <th><%= sort_link(@q, 'gym_cities.count', "Gyms") %></th>
      <th><%= sort_link(@q, 'language_cities.count', "Languages Spoken") %></th>
      <th><%= sort_link(@q, 'average_rating', "Rating") %></th>
      <th>Reviews</th>
    </tr>
    </thead>
    <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.city_name %></td>

        <% if city.crime_rates.any? %>
          <td><%= city.crime_rates.first.crime_index %></td>
        <% else %>
          <td>-</td>
        <% end %>

        <% if city.school_grades.any? %>
          <td><%= city.school_grades.first.score_compared_to_us %></td>
        <% else %>
          <td>-</td>
        <% end %>

        <% if city.appreciation_values.any? %>
          <td><%= city.appreciation_values.first.last_12months %></td>
        <% else %>
          <td>-</td>
        <% end %>

        <% if city.prices.any? %>
          <td><%= city.prices.first.average_price %></td>
        <% else %>
          <td>-</td>
        <% end %>

        <td><%= city.metras.count %></td>
        <td><%= city.grocery_cities.count %></td>
        <td><%= city.gym_cities.count %></td>
        <td><%= city.language_cities.count %></td>

        <td><%= city.average_rating %></td>
        <td><%= link_to 'View Reviews', city_reviews_path(city) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
<%= paginate @cities %>
