<h1>Dashboard</h1>
<%= search_form_for @q, url: dashboard_path do |form| %>
  <div class="form-group">
    <%= form.label :search_by_city_name %>
    <%= form.text_field :city_name_cont %>
    <%= form.submit 'Search City' %>
  </div>
<% end %>

<div class="priority_search">
  <form action="/dashboard" method="post">
    <label for="priority_1">1st Priority
      <select name="order[]" id="priority_1">
        <option value="crime_rates.crime_index">Crime Index</option>
        <option value="violent_crime_rate">Violent Crime Rate</option>
        <option value="property_crime_rate">Property Crime Rate</option>
        <option value="school_grades.score_compared_to_il">School Score Compared to IL</option>
        <option value="school_grades.score_compared_to_us">School Score Compared to US</option>
        <option value="appreciation_values.latest_quarter">Latest Quarter Appreciation</option>
        <option value="appreciation_values.last_12months">Last 12 Months Appreciation</option>
        <option value="appreciation_values.last_2years">Last 2 Years Appreciation</option>
        <option value="appreciation_values.last_5years">Last 5 Years Appreciation</option>
        <option value="appreciation_values.since_2000">Since 2000 Appreciation</option>
      </select>
    </label>
    <label for="priority_2">2nd Priority
      <select name="order[]" id="priority_2">
        <option value="crime_rates.crime_index">Crime Index</option>
        <option value="violent_crime_rate">Violent Crime Rate</option>
        <option value="property_crime_rate">Property Crime Rate</option>
        <option value="school_grades.score_compared_to_il">School Score Compared to IL</option>
        <option value="school_grades.score_compared_to_us">School Score Compared to US</option>
        <option value="appreciation_values.latest_quarter">Latest Quarter Appreciation</option>
        <option value="appreciation_values.last_12months">Last 12 Months Appreciation</option>
        <option value="appreciation_values.last_2years">Last 2 Years Appreciation</option>
        <option value="appreciation_values.last_5years">Last 5 Years Appreciation</option>
        <option value="appreciation_values.since_2000">Since 2000 Appreciation</option>
      </select>
    </label>
    <label for="priority_3">3rd Priority
      <select name="order[]" id="priority_3">
        <option value="crime_rates.crime_index">Crime Index</option>
        <option value="violent_crime_rate">Violent Crime Rate</option>
        <option value="property_crime_rate">Property Crime Rate</option>
        <option value="school_grades.score_compared_to_il">School Score Compared to IL</option>
        <option value="school_grades.score_compared_to_us">School Score Compared to US</option>
        <option value="appreciation_values.latest_quarter">Latest Quarter Appreciation</option>
        <option value="appreciation_values.last_12months">Last 12 Months Appreciation</option>
        <option value="appreciation_values.last_2years">Last 2 Years Appreciation</option>
        <option value="appreciation_values.last_5years">Last 5 Years Appreciation</option>
        <option value="appreciation_values.since_2000">Since 2000 Appreciation</option>
      </select>
    </label>
    <button type="submit">Sort</button>
  </form>
</div>



<table>
  <thead>
  <tr>
    <th><%= sort_link(@q, :city_name, "City") %></th>
    <th><%= sort_link(@q, 'crime_rates_crime_index', "Crime Index") %></th>
    <th><%= sort_link(@q, 'crime_rates_violent_crime_rate', "Violent Crime Rate") %></th>
    <th><%= sort_link(@q, 'crime_rates_property_crime_rate', "Property Crime Rate") %></th>
    <th><%= sort_link(@q, 'school_grades_score_compared_to_il', "School Score(IL)") %></th>
    <th><%= sort_link(@q, 'school_grades_score_compared_to_us', "School Score(US)") %></th>
    <th><%= sort_link(@q, 'appreciation_values_latest_quarter', "Latest Quarter Appreciation") %></th>
    <th><%= sort_link(@q, 'appreciation_values_last_12months', "Last 12 Months Appreciation") %></th>
    <th><%= sort_link(@q, 'appreciation_values_last_2years', "Last 2 Years Appreciation") %></th>
    <th><%= sort_link(@q, 'appreciation_values_last_5years', "Last 5 Years Appreciation") %></th>
    <th><%= sort_link(@q, 'appreciation_values__since_2000', "Since 2000 Appreciation") %></th>
    <th>Reviews</th>
  </tr>
  </thead>
  <tbody>
  <% @cities.each do |city| %>
    <tr>
      <td><%= city.city_name %></td>

      <% if city.crime_rates.any? %>
        <% city.crime_rates.each do |crime| %>
          <td><%= crime.crime_index %></td>
          <td><%= crime.violent_crime_rate %></td>
          <td><%= crime.property_crime_rate %></td>
        <% end %>
      <% else %>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      <% end %>

      <% if city.school_grades.any? %>
        <% city.school_grades.each do |school| %>
          <td><%= school.score_compared_to_il %></td>
          <td><%= school.score_compared_to_us %></td>
        <% end %>
      <% else %>
        <td>-</td>
        <td>-</td>
      <% end %>

      <% if city.appreciation_values.any? %>
        <% city.appreciation_values.each do |value| %>
          <td><%= value.latest_quarter %></td>
          <td><%= value.last_12months %></td>
          <td><%= value.last_2years %></td>
          <td><%= value.last_5years %></td>
          <td><%= value.since_2000 %></td>
        <% end %>
      <% else %>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      <% end %>
      <td>
        <% if city.reviews.any? %>
          <%= city.average_rating&.round(2) %> (<%= city.reviews_count %>)
        <% else %>
          No ratings
        <% end %>
      </td>
      <td>
        <%= link_to 'View Reviews', city_reviews_path(city) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
