<div class="app">
  <div class="sidebar">
    <a href="/"><img src="<%= asset_path('logo.png') %>" alt="CityFinder logo" class="logo"></a>
    <%= render 'shared/nav' %>
    <div class="outlet">
      <h1 class="sub-title">Find Your Top 5 Cities in Illinois</h1>
      <%= render 'city_list', cities: @cities %>
    </div>
    <footer class="footer">
      <p class="copyright">
        &copy; Copyright <%= Date.today.year %> by <a href="https://www.linkedin.com/in/youngsong-us/">Young</a><br>
        <a href="https://dpi.uillinois.edu/">Discovery Partners Institute</a>
      </p>
    </footer>
  </div>
  <%= render 'shared/map' %>
  <%= render 'shared/user_nav' %>
</div>