<div class="app">
  <%= render 'sidebar' %>
  <%= render 'shared/mapbox' %>
  <%= render 'shared/user_nav' %>
  <%= render 'shared/sidebar_mobile' %>
  <div class="side_mobile">
    <%= render 'dashboard/priority_search_form' %>
  </div>
</div>