<div class="app">
  <div class="sidebar">
    <a href="/"><img src="<%= asset_path('logo.png') %>" alt="CityFinder logo" class="logo"></a>
    <%= render 'shared/nav' %>
    <div class="row">
      <h1 class="sub-title">Compare the Cities You Selected</h1>
      <%= render 'search_by_name' %>
      <div class="search_result">
        <%= render 'city_list', cities: @the_city %>
      </div>
      <h2 class="sub-title">Your Saved Cities</h2>
      <% if current_user.favorite_cities.any? %>
        <%= render 'favorite_city_list', favorite_cities: current_user.favorite_cities %>
      <% else %>
        <h3 class="center">Start by adding a city to your list</h3>
      <% end %>
      <%= link_to 'Compare Cities', comparison_path, class: 'btn primary large' %>
    </div>
    <%= render 'shared/footer' %>
  </div>
  <%= render 'shared/mapbox_saved_city' %>
  <%= render 'shared/user_nav' %>
  <div class="side_mobile_search">
    <%= render 'search_by_name' %>
    <div class="search_result">
      <%= render 'city_list', cities: @the_city %>
    </div>
  </div>
  <%= render 'shared/nav_mobile' %>
</div>