<div class="row">
  <% if city.reviews_count > 0 %>
    <%= link_to new_city_review_path(@the_city) do %>
      <div class="flex-div">
      <div><%= display_stars(city) %></div>
      <p><b><%= city.average_rating %></b> (<%= city.reviews_count %>)</p>
      </div>
    <% end %>
  <% else %>
    <%= link_to 'Be the First Reviewer!', new_city_review_path(@the_city) %>
  <% end %>
</div>


