<div>
  <div>
    <h1>
      List of all crime rates
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new crime rate
    </h2>

    <form action="/insert_crime_rate" method="post">
      <div>
        <label for="city_id_box">
          City
        </label>

        <input type="text" id="city_id_box" name="query_city_id">
      </div>

      <div>
        <label for="crime_rate_box">
          Crime rate
        </label>

        <input type="text" id="crime_rate_box" name="query_crime_rate">
      </div>

      <div>
        <label for="violent_crime_rate_box">
          Violent crime rate
        </label>

        <input type="text" id="violent_crime_rate_box" name="query_violent_crime_rate">
      </div>

      <div>
        <label for="property_crime_rate_box">
          Property crime rate
        </label>

        <input type="text" id="property_crime_rate_box" name="query_property_crime_rate">
      </div>

      <button>
        Create crime rate
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          City
        </th>

        <th>
          Crime rate
        </th>

        <th>
          Violent crime rate
        </th>

        <th>
          Property crime rate
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_crime_rates.each do |a_crime_rate| %>
      <tr>
        <td>
          <%= a_crime_rate.id %>
        </td>

        <td>
          <%= a_crime_rate.city_id %>
        </td>

        <td>
          <%= a_crime_rate.crime_rate %>
        </td>

        <td>
          <%= a_crime_rate.violent_crime_rate %>
        </td>

        <td>
          <%= a_crime_rate.property_crime_rate %>
        </td>

        <td>
          <%= time_ago_in_words(a_crime_rate.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_crime_rate.updated_at) %> ago
        </td>

        <td>
          <a href="/crime_rates/<%= a_crime_rate.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
