<div>
  <div>
    <h1>
      Crime rate #<%= @the_crime_rate.id %> details
    </h1>

    <div>
      <div>
        <a href="/crime_rates">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_crime_rate/<%= @the_crime_rate.id %>">
          Delete crime rate
        </a>
      </div>
    </div>

    <dl>
      <dt>
        City
      </dt>
      <dd>
        <%= @the_crime_rate.city_id %>
      </dd>

      <dt>
        Crime rate
      </dt>
      <dd>
        <%= @the_crime_rate.crime_rate %>
      </dd>

      <dt>
        Violent crime rate
      </dt>
      <dd>
        <%= @the_crime_rate.violent_crime_rate %>
      </dd>

      <dt>
        Property crime rate
      </dt>
      <dd>
        <%= @the_crime_rate.property_crime_rate %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_crime_rate.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_crime_rate.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit crime rate
    </h2>

    <form action="/modify_crime_rate/<%= @the_crime_rate.id %>"  method="post" >
      <div>
        <label for="city_id_box">
          City
        </label>

        <input type="text" id="city_id_box" name="query_city_id" value="<%= @the_crime_rate.city_id %>">
      </div>

      <div>
        <label for="crime_rate_box">
          Crime rate
        </label>

        <input type="text" id="crime_rate_box" name="query_crime_rate" value="<%= @the_crime_rate.crime_rate %>">
      </div>

      <div>
        <label for="violent_crime_rate_box">
          Violent crime rate
        </label>

        <input type="text" id="violent_crime_rate_box" name="query_violent_crime_rate" value="<%= @the_crime_rate.violent_crime_rate %>">
      </div>

      <div>
        <label for="property_crime_rate_box">
          Property crime rate
        </label>

        <input type="text" id="property_crime_rate_box" name="query_property_crime_rate" value="<%= @the_crime_rate.property_crime_rate %>">
      </div>

      <button>
        Update crime rate
      </button>
    </form>
  </div>
</div>

<hr>
