<div class="form-container">
  <div class="form" data-controller="convenience-form">
    <%= form_with url: submit_city_filter_path, method: :post, data: { turbo: false }, class: "form", id: "convenience-form" do |form| %>
      <h1><span class="emoji">ðŸ‘‹</span>Hi,
        <%= user_signed_in? ? current_user.username.capitalize : 'Explorer' %>!
        <br>What do you need in your city?
      </h1>

      <div class="row">
        <%= form.label :"Must Have" %>
        <%= form.select :"convenience_option", options_for_select([
                                                                    ["Select a factor", ""],
                                                                    ["I'm open to all options ðŸ˜‰", "All"],
                                                                    ["Distance From Work ðŸš—", "Distance"],
                                                                    ["Metra Station ðŸšŠ", "Metra"],
                                                                    ["Grocery Store ðŸ›’", "Grocery"],
                                                                    ["Community ðŸ‘¥", "Community"],
                                                                    ["Gym ðŸ‹ï¸", "Gym"]
                                                                  ]), {}, { class: "select", data: { action: "convenience-form#handlePriorityChange" }} %>

        <div id="distance" class="row"  data-convenience-form-target="distance" style="display: none;">
          <%= form.label :place, "From"%>
          <%= form.text_field :place, placeholder: "Enter the address"%>

          <%= form.label :distance, "Distance to.." %>
          <%= form.select :distance, options_for_select([["10 miles", 10], ["20 miles", 20], ["30 miles", 30], ["50 miles", 50]]), {}, { class: "select" } %>
        </div>

        <div id="grocery-options" class="grid" data-convenience-form-target="groceryOptions" style="display: none;">
          <% @grocery_names.each do |grocery| %>
            <div>
              <%= form.check_box "grocery[]", { name: "grocery[]" }, grocery, nil %>
              <%= form.label grocery, grocery %>
            </div>
          <% end %>
        </div>

        <div id="gym-options" class="grid" data-convenience-form-target="gymOptions" style="display: none;">
          <% @gym_names.each do |gym| %>
            <div>
              <%= form.check_box "gym[]", { name: "gym[]" }, gym, nil %>
              <%= form.label gym, gym %>
            </div>
          <% end %>
        </div>

        <div id="community" class="row"  data-convenience-form-target="community"  style="display: none;">
          <%= form.label :"community_language", "Find a community using language" %>
          <%= form.select "community_language", options_for_select([["Select a language", ""]] + @language_names), { include_blank: false }, { class: "select" } %>
        </div>
      </div>

      <% Rails.logger.debug("City IDs in form: #{@city_ids.inspect}") %>
      <%= form.hidden_field :city_ids, value: @city_ids.join(',') %>
      <%= form.submit 'Next', class: 'btn primary large' %>
    <% end %>
  </div>
</div>