<div>
  <div>
    <h1>
      List of all cities
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new city
    </h2>

    <form action="/insert_city" method="post">
      <div>
        <label for="city_name_box">
          City name
        </label>

        <input type="text" id="city_name_box" name="query_city_name">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state">
      </div>

      <div>
        <label for="longitude_box">
          Longitude
        </label>

        <input type="text" id="longitude_box" name="query_longitude">
      </div>

      <div>
        <label for="latitude_box">
          Latitude
        </label>

        <input type="text" id="latitude_box" name="query_latitude">
      </div>

      <button>
        Create city
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          City name
        </th>

        <th>
          State
        </th>

        <th>
          Longitude
        </th>

        <th>
          Latitude
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_cities.each do |a_city| %>
      <tr>
        <td>
          <%= a_city.id %>
        </td>

        <td>
          <%= a_city.city_name %>
        </td>

        <td>
          <%= a_city.state %>
        </td>

        <td>
          <%= a_city.longitude %>
        </td>

        <td>
          <%= a_city.latitude %>
        </td>

        <td>
          <%= time_ago_in_words(a_city.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_city.updated_at) %> ago
        </td>

        <td>
          <a href="/cities/<%= a_city.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
