<div class="app">
  <div class="sidebar">
    <a href="/"><img src="<%= asset_path('logo.png') %>" alt="CityFinder logo" class="logo"></a>
    <%= render 'shared/nav' %>
    <div class="outlet">
      <h1 class="sub-title">Find Your Top 5 Cities in Illinois</h1>
      <%= render 'shared/city_list', cities: @cities %>
    </div>
    <%= render 'shared/footer' %>
  </div>
  <%= render 'shared/mapbox_result' %>
  <%= render 'shared/user_nav' %>
  <div class="side_mobile">
    <div class="cityList-mobile">
      <h1 class="sub-title">Your Top 5 Cities in Illinois</h1>
      <%= render 'shared/city_list', cities: @cities %>
    </div>
  </div>
  <%= render 'shared/nav_mobile' %>
</div>