<div class="app">
  <%= render 'sidebar' %>
  <%= render 'shared/mapbox_city', city:@the_city %>
  <%= render 'shared/user_nav' %>
  <%= render 'shared/nav_mobile' %>
  <div class="side_mobile_city">
    <%= render 'cities/city_detail' %>
  </div>
</div>