<h1 class="sub-title">Reviews for <%= @city.city_name %></h1>

<div class="city review">
  <%= render 'score_card' %>
  <div class="row">
  </div>
  <% @reviews.each do |review| %>
    <div class="flex-div-spread">
      <h2><%= review.author.capitalize %></h2>
      <div>
        <%= display_stars(review) %>
        <%= time_ago_in_words(review.updated_at) %>
      </div>
    </div>
    <div class="row">
      <h6>pros</h6>
      <p><%= review.pros %></p>
    </div>
    <div class="row">
      <h6>cons</h6>
      <p><%= review.cons %></p>
    </div>
    <% unless review.recommend_family_type.nil? %>
      <div class="row">
        <h6>Recommend to</h6>
        <div class="flex-div">
          <p class="tag-color">
            <% review.recommend_family_type.each do |family_type| %>
              <span class="tag-label"><%= family_type %></span>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>

    <% unless review.zipcode.nil? %>
      <div class="flex-div-spread">
        <h6>Zipcode</h6>
        <%= review.zipcode %>
      </div>
    <% end %>

    <% if current_user.id == review.user.id %>
      <div class="buttons-sm">
        <%= link_to 'Edit', edit_city_review_path(@city, review) %>
        <%= link_to 'Delete', city_review_path(@city, review), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
    <hr>
  <% end %>
  <div class="buttons">
    <%= link_to 'New Review', new_city_review_path(@city), class: 'btn primary' %>
    <%= link_to 'Back', '#', class: 'btn back', onclick: 'window.history.back(); return false;' %>
  </div>
</div>

