<div class="app">
  <%= render 'sidebar' %>
  <%= render 'shared/mapbox' %>
  <%= render 'shared/user_nav' %>
  <%= render 'shared/nav_mobile' %>
  <div class="side_mobile_city">
    <%= render 'review_list' %>
  </div>
</div>