<main class="login">
  <%= render 'shared/static_nav' %>
  <div class="form">
    <h1>Let's keep your profile up-to-date!👍</h1>
    <div class="row">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <% if resource.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="field">
            <%= f.label :email %><br>
            <%= f.email_field :email, required: true, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :username %><br>
            <%= f.text_field :username %>
          </div>

          <%= f.label :user_family_type, "Family Type" %>
          <div class="grid">
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'single', nil %> Single<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'married', nil %> Married<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'pet', nil %> Pet<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'with kid', nil %> With Kid<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'retired', nil %> Retired<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'remote worker', nil %> Remote Worker<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'commuter', nil %> Commuter<br></div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, required: false, autocomplete: "new-password" %>
            <small>leave it blank if you don't want to change it</small>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, required: false, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, required: true, autocomplete: "current-password" %>
            <small>we need your current password to confirm your changes</small>
          </div>
        </div>

        <div class="margin-top">
          <div class="login-btn-div">
            <%= f.submit "Update", class: "btn primary" %>
            <%= link_to 'Back', '#', class: 'btn back', onclick: 'window.history.back(); return false;' %>
          </div>
        </div>

        <div class="password">
          <%= link_to "I want to delete my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?"}, method: :delete %>
        </div>

      <% end %>
    </div>
  </div>
</main>
