<main class="login">
  <%= render 'shared/static_nav' %>
  <div class="form">
    <div class="row">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :username %>

          <%= f.label :user_family_type, "Family Type" %>
          <div class="grid">
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'single', nil %> Single<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'married', nil %> Married<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'pet', nil %> Pet<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'with kid', nil %> With Kid<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'retired', nil %> Retired<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'remote worker', nil %> Remote Worker<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'commuter', nil %> Commuter<br></div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="large">
          <%= f.button :submit, "Update", class: "btn primary"%>
        </div>
        <div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?"}, method: :delete, class:"btn cancel back" %></div>
    <% end %>
    </div>
  </div>

</main>
