<main class="login">
  <%= render 'shared/static_nav' %>
  <div class="form">
    <h1>Let's explore cities together! 👋</h1>
    <div class="row">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :username,
                      required: true,
                      input_html: { autocomplete: "username" }%>
          <div class="no-margin">
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.label :user_family_type, "Family Type" %>
          <div class="grid">
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'single', nil %> Single<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'married', nil %> Married<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'pet', nil %> Pet<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'with kid', nil %> With Kid<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'retired', nil %> Retired<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'remote worker', nil %> Remote Worker<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'commuter', nil %> Commuter<br></div>
          </div>
        </div>
        <div class="buttons large">
          <%= f.button :submit, "Sign up", class: "btn primary"%>
        </div>
      <% end %>
    </div>
  </div>
</main>
