<main class="login">
  <%= render 'shared/static_nav' %>
  <div class="form">
    <h1>Let's explore cities together! 👋</h1>
    <div class="row">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <% if resource.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :username %>
            <%= f.text_field :username, required: true, autocomplete: "username" %>
          </div>

          <div class="field no-margin">
            <%= f.label :password %>
            <%= f.password_field :password, required: true, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <small><%= @minimum_password_length %> characters minimum</small>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
          </div>

          <%= f.label :user_family_type, "Family Type" %>
          <div class="grid">
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'single', nil %> Single<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'married', nil %> Married<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'pet', nil %> Pet<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'with kid', nil %> With Kid<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'retired', nil %> Retired<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'remote worker', nil %> Remote Worker<br></div>
            <div class="text no-margin"><%= f.check_box :user_family_type, { multiple: true }, 'commuter', nil %> Commuter<br></div>
          </div>
        </div>

        <div class="buttons large">
          <%= f.submit "Sign up", class: "btn primary" %>
          <%= link_to 'Back', '#', class: 'btn back large', onclick: 'window.history.back(); return false;' %>
        </div>
      <% end %>
    </div>
  </div>
</main>
